#######
Scarb
#######

target

node_modules/

out/

.DS_Store
.env
scripts/simulationData/simulationOutput/simulationResults*.json
scripts/simulationData/simulationSheet*.json

.starknet_accounts/starknet_open_zeppelin_accounts.json
