#######
Scarb
#######

target

node_modules/

out/

.DS_Store
.env
scripts/simulationData/simulationOutput/simulationResults*.json
scripts/simulationData/simulationSheet*.json

.starknet_accounts/starknet_accounts.json

*.env
deployment/deployer_account.json
deployment/deployment_config.json
