# copied from https://github.com/EkuboProtocol/governance/actions
name: Tests

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Scarb
        uses: software-mansion/setup-scarb@v1
        with:
          tool-versions: .tool-versions

      - name: Test the code
        run: |
          scarb test

